<div class="container wordleSolver-container">
    <div class="row">
        <div class="col-md-10 mx-auto ws">
            <div class="form-group">
                <label for="greyLetters" class="my-1 p-0 wordleSolver-label">Grey letters</label>
                <div class="col-md-6 p-0">
                    <div class="d-flex">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                    </div>
                    <div class="d-flex mt-2">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greyLetters">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="yellowLetters" class="my-1 p-0 wordleSolver-label">Yellow letters</label>
                <div class="col-md-6 p-0">
                    <div class="d-flex">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1"
                            id="yellowLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1"
                            id="yellowLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1"
                            id="yellowLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1"
                            id="yellowLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1"
                            id="yellowLetters">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="greenLetters" class="my-1 p-0 wordleSolver-label">Green letters</label>
                <div class="col-md-6 p-0">
                    <div class="d-flex">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greenLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greenLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greenLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greenLetters">
                        <input type="text" class="wordleSolver-field form-control px-5" maxlength="1" id="greenLetters">
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <div class="col-md-4 p-0">
                    <button onclick="onSubmit()" type="submit" id="wordlesolver_submit"
                        class="btn wordlesolver-btn mt-3">Submit</button>
                </div>
            </div>
        </div>

        <div id="wordleSolverData"></div>
    </div>
</div>