{%- include /authors/authors.html -%}
<div class="wrapfooter">
    <span class="author_image">
        <img class="author-thumb" loading="lazy" src="{{ image }}" height="35px" width="35px" alt="{{ authorName}}" id="author_img">
    </span>
    <span class="author-meta">
        <span class="post-name">
            <a class="postName" target="_blank" href="{{twitter}}">{{authorName}}</a>
            {%- if twitter != 'N/A' -%}
            <a class="btn_follow text-decoration-none" target="_blank" href="{{twitter}}">Follow</a>
            {%- endif -%}
           
        </span><br>
        <span class="author_bio">{{bio}}</span>
    </span>
</div>