.rowHeight {
  margin: 300px 0 620px 0;
}
.about_content > .text {
  width: 80%;
  margin: 0 auto;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  top: 100px;
}
.about {
  margin-top: -80px;
}
.about img {
  width: 420px;
  position: absolute;
  right: -15px;
  height: 700px;
  z-index: -1;
}
.content {
  position: absolute;
  right: 40px;
  color: #fff;
  top: 30px;
  width: 250px;
  padding: 0 10px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 1125px) {
  .rowHeight {
    margin: 100px -15px 0px -15px;
  }
  .about {
    background: #b641da;
    padding: 10px 0;
  }
  .about img {
    display: none;
  }
  .content {
    position: static;
    text-align: center;
    width: 100%;
  }
  .about_content {
    margin: 0 !important;
  }
}
