/* styling for footer */
/* .footer-container {
  width: 960px;
  height: 590px;
  background: url(../images/footer.png);
  background-size: cover;
  padding: 85px 0;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 0px;
}

footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  font-size: 5rem;
}

hr {
  background: #fff;
  border: 2px solid #fff;
  width: 50px;
  margin: 1rem auto;
}
.txt-color {
  color: #fff !important;
  text-decoration: none !important;
  font-size: 3rem;
  font-weight: 900;
}
.txt-color:hover {
  color: deepskyblue !important;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}

.socialIons > .list-items {
  display: flex;
  justify-content: center;
  width: 100%;
}
.socialIons > .list-items > li {
  list-style: none;
  padding: 0 15px;
}
.socialIons i:hover {
  color: deepskyblue;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}
.socialIons > .list-items > li i {
  font-size: 25px;
  color: #fff;
}
.pages {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pages > a {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 15px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .pages {
    flex-direction: column;
  }
  .pages > a {
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  footer {
    font-size: 0;
  }
  .txt-color {
    font-size: 2rem;
  }
}

@media (max-width: 968px) {
  .footer-container {
    width: 100%;
    background-position: center;
  }
} */
/* over styling for footer */
/* 
.footer-wrapper {
  padding: 32px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #e8e8e8;
}
.footer-logo {
  height: 35px;
}

.footer-nav {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: space-between;
  -ms-flex-pack: end;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-nav {
    margin-top: 3rem;
  }
  .footer-wrapper,
  .footer-nav {
    flex-direction: column;
  }
}

.footer-nav-item {
  margin: -12px 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.footer-logo-cont {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.footer-title {
  font-stretch: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #1a1a1a;
  padding-top: 24px;
}

.footer-ul-title {
  font-stretch: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(26, 26, 26, 1);
  padding: 12px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer-link {
  font-stretch: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(26, 26, 26, 1);
  padding: 12px 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
} */

/* .privacy-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 24px 0;
}

.footer-msg {
  font-stretch: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
} */

/* .privacy-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.privacy-links-item {
  font-stretch: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  margin: 0 20px;
}
.privacy-links-item > a {
  color: #000;
} */

.txt-primary {
  color: #000;
  font-size: 16px;
  text-decoration: none !important;
}
.txt-secondary {
  color: gray;
  font-size: 15px;
  text-decoration: none !important;
  margin: 2rem 0px;
}
.txt-secondary:hover {
  color: #000;
}

.footer_hr {
  width: 50px;
  margin: 2rem auto;
  border: 2px solid #000;
}

.footer-section {
  padding: 50px 0px;
  background-color: #f8f9fa;
  margin-top: 3rem;
}

.footer-logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #000;
  font-weight: 900;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer-social-list ul li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  background: #000;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in;
}
.copyright-text {
  font-size: 18px;
}
.footer-address {
  margin-bottom: 20px;
}
.footer-address p {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .txt-secondary {
    text-align: center;
  }
}
