{% assign file = page.fileName %}
{% assign lang = page.lang %}
{% assign dataToShow = site.data.[page.folderName][lang][file] %}

{%- assign CustomColor = site.data.theme.colors -%}

<!-- starting landingPage -->
<div style="height: 50vh;">
    <div class="container-fluid" id="containerWd">
        <div class="serachSection">
            <div class="position-relative serachBox">
                <form name="verify">
                    <div style="position: relative;">
                        <input style="border-radius: {{CustomColor.inputFieldBorder}}" type="text"
                            placeholder="Enter up to 15 letters?" class="txtBox" value='' name="search" maxlength="15"
                            required autocomplete="off" value>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <input style="border-radius: {{CustomColor.inputFieldBorder}}; 
                        background-color: {{CustomColor.inputButtonBg}};" type="submit" class="serachBtn" id="serach"
                        value>

                    <div class="dictonaryDropdown">
                        <select class="form-select select_dropDown2" name="dictionary"
                            aria-label="Default select example">
                            <option selected value="Dictionary">Dictionary</option>
                            <option value="twl06">TWL06 (US, Canada, Thailand)</option>
                            <option value="sowpods">SOWPODS (Uk and Others)</option>
                            <option value="wwf">Enable (Words With Friends)</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>