<style>
    table td {
        padding: 1.75rem !important;
        border-bottom: 1px solid #dee2e6;
        border: 0;
        margin-bottom: 10px;
        background: #FAFAFA;
        box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    }
</style>
<div class="row pad" style="padding:60px .2rem 5rem .2rem">
    <div class=" col-md-12">
        <div class="wordCount">
            <strong>
                {{dataToShow.wordLength}}
            </strong>
        </div>
        <div class="main">
            {%- for scrabblewords in dataToShow.words-%}
            {%- for item in scrabblewords %}
            {%- if forloop.index == 1 -%}
            <div class="allGroupWords wordlistContainer" id="alpha_{{item.i}}">
                <div class="wordListHeading">
                    <h3 class="lead">{{item.i}} Letter Words</h3>
                </div>

                <div class="wordList">
                    <ul class="ul list-unstyled">
                        {%- for item in scrabblewords %}
                        {%- assign value = item.word -%}
                        <a class="anchor__style" title="Lookup python in Dictionary" target="_blank"
                            href="/word-meaning?search={{item.word}}">
                            <li>{{item.word}}
                                <span class="points" value="14" style="position:relative; top:4px; font-size:12px">
                                    {{item.points}}</span>
                            </li>
                        </a>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            {%- endif -%}
            {%- endfor -%}
            {%- endfor -%}
        </div>
    </div>
</div>