<!DOCTYPE html>
<html lang="en">

{%- include head/index.html -%}

<body onLoad="page_begin()">
    {%- include header/index.html -%}


    {% if page.url == '/' %}

    {% include section/home.html %}

    {% else %}

    {% include section/home2.html %}

    {% endif %}

    {% include section/feature.html %}

    {%- if dataToShow.faqList -%}
    {%- if dataToShow.faqList.first.Question !='' -%}
    {% include section/news.html %}
    {% endif %}
    {% endif %}


    {%- if page.letter -%}
    {%- include WordPointTables/table.html -%}
    {%- endif -%}
    {%- if site.posts.size>0 -%}
    {% include section/blog.html %}
    {%- endif -%}


    {%- include share/socialshare.html -%}
    {%- include Rating/rating.html -%}
    {%- include footer/index.html -%}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script>
        let txtBox = document.querySelector('.txtBox')
        txtBox.addEventListener('input', (e) => {
            e.target.value = e.target.value.replace(/[^a-zA-Z? ]/g, "")
            let rangeOfBlankTile = '{{ page.blanktilerange }}'
            if (rangeOfBlankTile === "") {
                rangeOfBlankTile = 5
            }
            e.target.value = e.target.value.replace(/ /g, '?')
            let data = []
            data = e.target.value.split('').filter((i) => i === '?')
            console.log(data.length)
            console.log(rangeOfBlankTile)
            if (data.length > rangeOfBlankTile) {
                e.target.value = e.target.value.replace(/\?$/, '')
            }
        })

    </script>


    window.onload = function(){
    {% include Monumetric/Monumetric.html %}
    };

</body>

</html>