<!DOCTYPE html>
<html lang="en">

{%- include head/index.html -%}

<body>
    {%- include header/index.html -%}


    {% if page.url == '/' %}

    {% include section/home.html %}

    {% else %}

    {% include section/home2.html %}

    {% endif %}

    {% include section/feature.html %}

    {%- if dataToShow.faqList -%}
    {%- if dataToShow.faqList.first.Question !='' -%}
    {% include section/news.html %}
    {% endif %}
    {% endif %}


    {%- if page.letter -%}
    {%- include WordPointTables/table.html -%}
    {%- endif -%}

    {%- include share/socialshare.html -%}
    {%- include Rating/rating.html -%}

    {%- if site.posts.size>0 -%}
    {% include section/blog.html %}
    {%- endif -%}


    {%- include footer/index.html -%}

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
    <script>WebFont.load({ google: { families: ['Poppins:400&display=swap'] } })</script>
    <script>
            (function () {
                d = document;
                c = d.createElement('link');
                c.href = '//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
                c.rel = 'stylesheet';
                d.head.appendChild(c);
            })();
    </script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script>
        let txtBox = document.querySelector('.txtBox')
        let focusBorder = document.querySelector('.focus-border')
        txtBox.focus()
        txtBox.addEventListener('input', (e) => {
            focusBorder.classList.remove("focus-border")
            e.target.value = e.target.value.replace(/[^a-zA-Z? ]/g, "")
            let rangeOfBlankTile = '{{ page.blanktilerange }}'
            if (rangeOfBlankTile === "") {
                rangeOfBlankTile = 5
            }
            e.target.value = e.target.value.replace(/ /g, '?')
            let data = []
            data = e.target.value.split('').filter((i) => i === '?')
            console.log(data.length)
            console.log(rangeOfBlankTile)
            if (data.length > rangeOfBlankTile) {
                e.target.value = e.target.value.replace(/\?$/, '')
            }
        })
    </script>
    {% include Monumetric/Monumetric.html %}
</body>

</html>